  $breakpoints: (phone:320px, table: 768px, desktop:1024px);

  
  $z-index-header : 10;
  $z-index-dimmer : 20;
  $z-index-login : 30;
  $z-index-tooltip : 20;
  $z-index-side-menu : 5;
  $z-index-wirte : 30;

  //font color
  $font-color-hint: #9e9e9e;
  $font-color-title: #607d8b;