.login-modal-wrapper{
    user-select:none;
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: $z-index-login;
    .login-modal{
        background:white;
        width: 23rem;
        padding: 2rem;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        border-radius: 0.5rem;
        .cancel-btn{
            position:absolute;
            right:0.2rem;
            top:0.5rem;
            cursor:pointer;
            color:$oc-gray-7;
            transition:all .3s;
            &:hover{
                color:$oc-gray-6;
            }
            &:active{
                color:$oc-gray-8;
            }
        }
        .login-header{
            text-align: center;
            font-size: 1.2rem;
            color:#5CAD74;
            padding-bottom: 1rem;
            border-bottom: 1px solid #5CAD74;
        }
        .login-body{
            margin-top:2rem;
            .social-login-button{
                text-align: center;
                margin-top:0.8rem;
                border: 1px solid $oc-gray-3;
                cursor:pointer;
                transition:all .3s;
                b {
                    text-transform: capitalize;
                }

                &.github{
                    padding-top:0.3rem;
                    padding-bottom:0.3rem;
                    background-color: $oc-gray-1;
                    &:hover{
                        background: $oc-gray-2;
                    }
                    &:active{
                        background: $oc-gray-4;
                    }
                }
                
                &.google{
                    padding-top:0.3rem;
                    padding-bottom:0.3rem;
                    background-color: #EA4335;
                    color:white;
                    &:hover{
                        background: #ef1c0a;
                    }
                    &:active{
                        background: #95190e;
                    }
                }
                
                &.facebook{
                    padding-top:0.3rem;
                    padding-bottom:0.3rem;
                    background-color: #375A9B;
                    color:white;
                    &:hover{
                        background: #2f62c2;
                    }
                    &:active{
                        background: #123474;
                    }
                }
            }
        }
        //애니메이션 설정
        &.bounceIn, &.bounceOutDown, &.bounce{
            -webkit-animation-duration: 0.8s;
            animation-duration: 0.8s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }
    }
}